@import './variables';

table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0.125rem;
}

td {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid white;
  color: $color;
  background-color: #F0D8A8;
  text-align: center;
}

tr {
  display: table-row;
}